html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;   /* Firefox */
  -webkit-font-smoothing: antialiased; /* WebKit  */
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

:focus {
  outline: none;
}

body {
  @include font-size(16px);
  font-family: $font-base;
  line-height: 1.2;
  color: $ecru;
}

a {
  color: inherit;
}

input,
textarea {
  border-radius: 0;
}

h1, h2, h3 {
  color: $ecru;
  font-family: $font-base;
}

h1 {
  @include font-size(43px);
  line-height: 1.16;
}

h2 {
  @include font-size(36px);
  line-height: 1.25;
}

h3 {
  @include font-size(24px);
  line-height: 1.25;
}