
.red {
  background: transparent url(../i/backdrop-orange.jpg) no-repeat 50% 0;
}

.gray {
  background: transparent url(../i/backdrop-blue.jpg) no-repeat 50% 0;
}

.container {
  position: absolute;
  width: 100vw;
  min-height: 100%;
  top: 0;
  background-size: auto;
}

.wrapperContainer {
  position: absolute;
  width: 302px;
  left: 50%;
  transform: translateX(-50%);
  top: 165px;
  z-index: 4;
  overflow: hidden;
  height: 40px;
  border-radius: 20px;
}

.wrapper {
  position: absolute;
  width: 300px;
  top: 5px;
  left: 0;
}

@include max-width(747px) {
  .wrapperContainer {
      top: 125px;
  }
}

@include min-max-width(1004px, 1259px) {
  .container {
      background-size: 150% auto;
  }
  .wrapperContainer {
      top: calc(12.8vw - 5px);
  }
}

@include min-max-width(1260px, 1345px) {
  .container {
      background-size: 113% auto;
  }
  .wrapperContainer {
      top: calc(9.3vw - 5px);
  }
}

@include min-max-width(1346px, 1579px) {
  .container {
      background-size: 115% auto;
  }
  .wrapperContainer {
      top: calc(10vw - 5px);
  }
}

@include min-width(1580px) {
  .container {
      background-size: 1920px auto;
  }
  .wrapperContainer {
      top: 160px;
  }
}

.rightLayout,
.leftLayout {
  top: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  -webkit-transition: width 2s;
  transition: width 2s;
  overflow: hidden;
  z-index: 1;
}

.rightLayout {
  right: 0;
  
  h2 {
    left: 5%;
    top: 30px;
  }

  h3 {
    left: 5%;
    top: 70px;
  }
  
  img {
    position: absolute;
    top: -93px;
    right: -165px;
    width: 50vw;

    &.computer {
      top: 75px;
      left: -5px;
      width: 30vw;
    }
  }

  .container {
    right: 0;
  }
}

.leftLayout {
  left: 0;

  h2 {
    right: 5%;
    top: 30px;
  }

  h3 {
    right: 5%;
    top: 70px;
  }
  
  .container {
    left: 0;
  }

  img {
    position: absolute;
    top: -65px;
    left: -135px;
    width: 80vw;
  }

}

.expandBg {
  width: 100%;
  z-index: 2;
}

.collapseBg {
  width: 0%;
  z-index: 1;
}

/* slider css */

.tracker {
  background: $transparent-white;
  border-radius: 20px;
  height: 30px;
  border: $white 1px solid;
}

.slider {
  height: 38px;
  width: 38px;
  position: absolute;
  top: -4px !important;

  &.active .holder * {
    cursor: grab;
  }
  
  .holder {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: $ecru;
    border-radius: 18px;
  }
}

.bigger {
  height: 38px; 
  background: transparent;
  width: 38px;
  border-radius: 18px;
  border: 1px solid $ecru;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  padding: 1px;
  @include animation (rise, $t, ease-in-out);
}

@include keyframes(rise) {
  0%   { transform: scale(1); }
  70%   { transform: scale(1.03); }
  80%   { transform: scale(1); }
  90%   { transform: scale(1.03); }
  100%   { transform: scale(1); }
}

.lArr,
.rArr {
  height: 1px;
  width: 1px;
  border: 10px solid $blue;
  border-color: transparent $blue transparent transparent;
  position: absolute;
  top: 7px;
  right: 19px;
  
}

.rArr {
  border-color: transparent transparent transparent $orange;
  left: 19px;
  right: initial;
}

.txtL,
.txtR {
  color: $white;
  font: 14px Arial;
  position: absolute;
  left: -50px;
  top: 10px;
  width: 70px;
}

.txtR {
  left: 42px;
}

.arrR,
.arrL {
  height: 1px;
  width: 1px;
  border: 6px solid $ecru;
  border-color: transparent $ecru transparent transparent;
  position: absolute;
  left: -85px;
  top: 12px;
  @include animation (left, $t, ease-in-out);
}

.arrR {
  left: 105px;
  border-color: transparent transparent transparent $ecru;
  @include animation (right, $t, ease-in-out);
}

@include keyframes(left) {
  0%   { left: -85px; }
  60%   { left: -85px; }
  70%  { left: -88px; }
  80%  { left: -85px; }
  90%  { left: -88px; }
  100% { left: -85px; }
}

@include keyframes(right) {
  0%   { left: 105px; }
  60%   { left: 105px; }
  70%  { left: 108px; }
  80%  { left: 105px; }
  90%  { left: 108px; }
  100% { left: 105px; }
}

/* banner link */

#creativeLink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}