@mixin small-mobile {

  @media only screen and (max-width: $xs) {
    @content;
  }

}

@mixin mobile {

  @media only screen and (max-width: $sm) {
    @content;
  }

}

@mixin tablet {

  @media only screen and (max-width: $md) {
    @content;
  }

}

@mixin desktop {

  @media only screen and (max-width: $xl) {
    @content;
  }

}

@mixin max-width($bp) {

  @media only screen and (max-width: $bp) {
    @content;
  }

}

@mixin min-width($bp) {

  @media only screen and (min-width: $bp) {
    @content;
  }

}

@mixin min-max-width($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  } 
}

/*
  Rem font size
*/
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin animation ($animation, $duration, $function, $count: infinite, $delay: 0, $direction: forward, $fillmode: fowards) {
  -webkit-animation-iteration-count: $count;
  -webkit-animation-timing-function: $function;
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: $fillmode;
  -webkit-animation-direction: $direction;

  -o-animation-iteration-count: $count;
  -o-animation-timing-function: $function;
  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-fill-mode: $fillmode;
  -o-animation-direction: $direction;

  -moz-animation-iteration-count: $count;
  -moz-animation-timing-function: $function;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: $fillmode;
  -moz-animation-direction: $direction;

  animation-iteration-count: $count;
  animation-timing-function: $function;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
}
