//colors
$white: #fff;
$black: #000;
$ecru: #fafafa;
$blue: #86d4b0;
$orange: #e77c24;
$transparent-white: rgba(255, 255, 255, .3);

//fonts
$font-base: 'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

//steps
$xs: 576px;
$sm: 768px;
$md: 992px;
$xl: 1920px;

// animation duration
$t: 1.5s;
